<div class="center-message text-center">
  <img src="{{logoUrl}}" />
  <h1>{{title}}</h1>
  <h2>{{subTitle}}</h2>
  <p>
  {{#if nextMeetup}}
    <a href={{nextMeetup.link}} rel="noreferrer noopener" target="_blank">
      <span class="cap">{{moment-format nextMeetup.when 'dddd D MMMM HH:mm'}}</span>
      en {{nextMeetup.where}}
    </a>
  {{/if}}
  </p>
</div>
