{{#burger-menu animation="slide" itemAnimation="stack" as |burger|}}
  {{#burger.menu itemTagName="li" dismissOnItemClick=true as |menu|}}
    {{fa-icon
      "close"
      class="bm-menu--close"
      click=(action burger.state.actions.close)
      title="Cerrar menu"
    }}

    {{sidebar-logo}}

    {{#meetup-menu-selector as |items isLoading|}}
      {{#if isLoading}}
        {{fa-icon "circle-o-notch" spin=true}}
      {{else}}
        <ul>
          {{#each items as |menuItem|}}
            {{#menu.item}}
              {{link-to
                (moment-format menuItem.name 'MMMM')
                "meetup"
                menuItem.name
              }}
            {{/menu.item}}
          {{/each}}
        </ul>
      {{/if}}
    {{/meetup-menu-selector}}

    {{last-activity-info}}
  {{/burger.menu}}

  {{#burger.outlet}}
    {{nav-bar openMenu=burger.state.actions.toggle}}

    {{outlet}}

    <div class="container-fluid">
      {{pre-footer}}

      {{site-footer}}
    </div>
  {{/burger.outlet}}
{{/burger-menu}}
<div id="outside"></div>
