<link rel="icon" type="image/png" sizes="192x192"  href="{{rootURL}}assets/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{rootURL}}assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{rootURL}}assets/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{rootURL}}assets/favicon/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<title>{{model.title}}</title>
